.IndividualCard {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.IndividualCard div:nth-child(1) {
  height: 28vh;
  overflow: hidden;
}
.IndividualCard img {
  width: 100%;
}

.IndividualCard div:nth-child(2) {
  padding: 15px 10px;
  line-height: 25px;
}

.IndividualCard div:nth-child(2) p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}

.IndividualCard div:nth-child(2) p:nth-child(2) {
  font-size: 0.85rem;
  color: #666464;
  letter-spacing: 0.3px;
  margin-top: 5px;
}
