.Footer {
  background-color: #011224;
  padding: 60px 150px 30px 150px;
}

.Footer .footer01 {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: white;
  padding: 0 0 0 100px;
}
.Footer .footer01 p {
  font-size: small;
  line-height: 23px;
}

.Footer .footer01 h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.Footer .footer02 {
  display: flex;
  justify-content: center;
}
.Footer .footer02 img {
  width: 300px;
}

.Footer .footer03 {
  display: flex;
  justify-content: center;
  color: rgb(166, 177, 187);
  margin-top: 20px;
  font-size: small;
}

@media screen and (max-width: 1500px) {
  .Footer {
    background-color: #011224;
    padding: 60px 100px 30px 100px;
  }

  .Footer .footer01 {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 0 170px;
  }
}
@media screen and (max-width: 1100px) {
  .Footer {
    background-color: #011224;
    padding: 60px 10px 30px 10px;
  }
  .Footer .footer01 {
    padding: 0 0 0 100px;
  }
}
@media screen and (max-width: 800px) {
  .Footer {
    background-color: #011224;
    padding: 60px 0px 30px 0px;
  }
  .Footer .footer01 {
    padding: 0 0 0 100px;
  }
}

@media screen and (max-width: 600px) {
  .Footer {
    background-color: #011224;
    padding: 60px 0px 30px 0px;
  }

  .Footer .footer01 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 80px;
  }
}
@media screen and (max-width: 430px) {
  .Footer .footer01 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 5%;
  }
}
