#doc{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 5% 10% 10% 10%;
    
}

#doc #card{
    width: 90%;
    text-align: left;
    margin:10px 10px 10px 10px;
    height: 500px;
    border: 3px solid #0097A7;
    border-radius: 10px;
    
}

#doc #card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 350px;
}


#doc #card button{
    width: 200px;
    background-color: #FFA000;
    font-size: medium;
    color: white;
}

#doc #card button:hover{
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    #doc{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
       
}

@media screen and (max-width: 750px) {
    #doc{
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
       
}